
<div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <div class="product-sales-chart">
            <canvas id="myChart"></canvas>
        </div>
        <div class="product-sales-chart">
            <canvas id="Transaksi"></canvas>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="analysis-progrebar res-mg-t-30 mg-ub-10 res-mg-b-30 table-mg-t-pro-n tb-sm-res-d-n dk-res-t-d-n">
            <div class="analysis-progrebar-content">
                <h5>Notifikasi</h5>
                <div class="review-content-section">
                    <div class="chat2-discussion" style="height: auto">
                      <%
                        for(var _index=0; _index < notif.length; _index++) {
                          var _detail = notif[_index];
                          %>
                      <div class="chat-message">
                        <div class=" message">
                          <a class="message-author" href="#">
                            <%= _detail.title%></a>
                          <!-- <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span> -->
                          <span class="message-content">
                            <%= _detail.body%></span>
                          
                        </div>
                      </div>
                      <%}%>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>