<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Lapoutta - Lapak Produk UMKM Masyarakat Toba</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/meanmenu.min.css">
    <link rel="stylesheet" href="/styles/educate-custon-icon.css">
    <link rel="stylesheet" href="/styles/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/styles/metisMenu.min.css">
    <link rel="stylesheet" href="/styles/metisMenu-vertical.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/responsive.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</head>

<body>
    <!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="index.html"><img class="main-logo" src="/images/logo/logo.png" alt="" /></a>
                <strong><a href="index.html"><img src="/images/logo/log.png" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span
                                    class="educate-icon educate-course icon-wrap"></span>
                                <span class="mini-click-non">Produk</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Daftar Produk" href="/list/products"><span class="mini-sub-pro">Daftar
                                            Produk</span></a></li>
                                <!-- <li><a title="Add Professor" href="/list/status/product"><span class="mini-sub-pro">Status Produk</span></a></li> -->
                                <li><a title="Kategori Produk" href="/categories"><span class="mini-sub-pro">Kategori
                                            Produk</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a title="Banner" href="/list/banner" aria-expanded="false">
                                <span class="educate-icon educate-course icon-wrap" aria-hidden="true"></span> <span
                                    class="mini-click-non">Banner</span></a>
                        </li>
                        <li>
                            <a title="List User" href="/customer/list" aria-expanded="false">
                                <span class="educate-icon educate-professor icon-wrap" aria-hidden="true"></span> <span
                                    class="mini-click-non">User</span></a>
                        </li>

                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span
                                    class="educate-icon educate-department icon-wrap"></span>
                                <span class="mini-click-non">Toko</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Daftar Toko" href="/store/list"><span class="mini-sub-pro">Daftar
                                            Toko</span></a></li>
                                <li><a title="Status Toko" href="/store/status"><span class="mini-sub-pro">Status
                                            Toko</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span
                                    class="educate-icon educate-course icon-wrap"></span>
                                <span class="mini-click-non">Transaksi</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Daftar Transaksi" href="/list/trans/view"><span class="mini-sub-pro">Daftar
                                            Transaksi</span></a></li>
                                <li><a title="Daftar Status Transaksi" href="/transaction/status/list"><span
                                            class="mini-sub-pro">Status
                                            Transaksi</span></a></li>
                                <li><a title="Daftar Status Pengiriman" href="/list/shipment/status"><span
                                            class="mini-sub-pro">Status Pengiriman</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false"><span
                                    class="educate-icon educate-data-table icon-wrap"></span>
                                <span class="mini-click-non">Konfirmasi</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Konfirmasi Toko" href="/store"><span class="mini-sub-pro">Toko</span></a>
                                </li>
                                <li><a title="Konfirmasi Pembayaran" href="/confirm/payment"><span
                                            class="mini-sub-pro">Pembayaran</span></a></li>
                                <li><a title="Konfirmasi Pembayaran Merchant" href="/list/billing/web"><span class="mini-sub-pro">Billing
                                            Merchant</span></a></li>
                                <!-- <li><a title="Edit Professor" href="#"><span class="mini-sub-pro">Pengiriman
                    </span></a></li>
                <li><a title="Professor Profile" href="#"><span class="mini-sub-pro">Pengembalian<span></a></li> -->
                            </ul>
                        </li>
                        <li>
                            <a title="Role" href="/role" aria-expanded="false">
                                <span class="educate-icon educate-course icon-wrap" aria-hidden="true"></span> <span
                                    class="mini-click-non">Role</span></a>
                        </li>
                        <li>
                            <a title="Referensi Bank" href="/bank/lists" aria-expanded="false">
                                <span class="educate-icon educate-course icon-wrap" aria-hidden="true"></span> <span
                                    class="mini-click-non">Ref-Bank</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="/images/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse"
                                                class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                                <i class="educate-icon educate-nav"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                            <ul class="nav navbar-nav mai-top-nav">
                                                <li class="nav-item"><a href="/dashboard" class="nav-link">Home</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                <li class="nav-item"><a href="#" data-toggle="dropdown" role="button"
                                                        aria-expanded="false" class="nav-link dropdown-toggle"><i
                                                            class="educate-icon educate-bell"
                                                            aria-hidden="true"></i><span
                                                            class="indicator-nt"></span></a>
                                                    <div role="menu"
                                                        class="notification-author dropdown-menu animated zoomIn">
                                                        <div class="notification-single-top">
                                                            <h1>Notifications</h1>
                                                        </div>
                                                        <ul class="notification-menu">
                                                            <li>
                                                                <a href="#">
                                                                    <div class="notification-icon">
                                                                        <i class="educate-icon educate-checked edu-checked-pro admin-check-pro"
                                                                            aria-hidden="true"></i>
                                                                    </div>
                                                                    <div class="notification-content">
                                                                        <span class="notification-date">16 Sept</span>
                                                                        <h2>Advanda Cro</h2>
                                                                        <p>Please done this project as soon possible.
                                                                        </p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <div class="notification-icon">
                                                                        <i class="fa fa-cloud edu-cloud-computing-down"
                                                                            aria-hidden="true"></i>
                                                                    </div>
                                                                    <div class="notification-content">
                                                                        <span class="notification-date">16 Sept</span>
                                                                        <h2>Sulaiman din</h2>
                                                                        <p>Please done this project as soon possible.
                                                                        </p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <div class="notification-icon">
                                                                        <i class="fa fa-eraser edu-shield"
                                                                            aria-hidden="true"></i>
                                                                    </div>
                                                                    <div class="notification-content">
                                                                        <span class="notification-date">16 Sept</span>
                                                                        <h2>Victor Jara</h2>
                                                                        <p>Please done this project as soon possible.
                                                                        </p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    <div class="notification-icon">
                                                                        <i class="fa fa-line-chart edu-analytics-arrow"
                                                                            aria-hidden="true"></i>
                                                                    </div>
                                                                    <div class="notification-content">
                                                                        <span class="notification-date">16 Sept</span>
                                                                        <h2>Victor Jara</h2>
                                                                        <p>Please done this project as soon possible.
                                                                        </p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                        <div class="notification-view">
                                                            <a href="#">View All Notification</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button"
                                                        aria-expanded="false" class="nav-link dropdown-toggle">
                                                        <!-- <img src="/images/uploads/<%= req.session.Customer.image%>"
                                                            alt="" /> -->
                                                        <span class="admin-name">
                                                            <%= req.session.Customer.name%></span>
                                                        <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
                                                    </a>
                                                    <ul role="menu"
                                                        class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                        <li><a href="/profil"><span
                                                                    class="edu-icon edu-user-rounded author-log-ic"></span>My
                                                                Profile
                                                            </a>
                                                        </li>
                                                        <li><a href="/changePass"><span
                                                                    class="edu-icon edu-user-rounded author-log-ic"></span>Change
                                                                Password
                                                            </a>
                                                        </li>
                                                        <!-- <li><a href="#"><span
                                                                    class="edu-icon edu-money author-log-ic"></span>User
                                                                Billing
                                                            </a>
                                                        </li> -->
                                                        <!-- <li><a href="#"><span
                                                                    class="edu-icon edu-settings author-log-ic"></span>Settings</a>
                                                        </li> -->
                                                        <li><a href="/logout"><span
                                                                    class="edu-icon edu-locked author-log-ic"></span>Log
                                                                Out
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="mobile-menu-nav">
                                        <li><a data-toggle="collapse" data-target="#demoevent" href="#">Produk</a>
                                            <ul id="demoevent" class="collapse dropdown-header-top">
                                                <li><a href="#">Daftar Produk</a></li>
                                                <li><a href="#">Status Produk</a></li>
                                                <!-- <li><a href="#">Daftar Produk</a></li> -->
                                            </ul>
                                        </li>
                                        <li><a href="/customer">Customer</a></li>
                                        <li><a href="#">Toko</a></li>
                                        <li><a data-toggle="collapse" data-target="#demoevent" href="#">Konfirmasi <span
                                                    class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demoevent" class="collapse dropdown-header-top">
                                                <li><a href="#">Toko</a>
                                                </li>
                                                <li><a href="#">Pembayaran</a>
                                                </li>
                                                <li><a href="#">Pengiriman</a>
                                                </li>
                                                <li><a href="#">Pengembalian</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demopro" href="#">Laporan
                                                Statistik<span
                                                    class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul id="demopro" class="collapse dropdown-header-top">
                                                <li><a href="#">Produk</a>
                                                </li>
                                                <li><a href="#">Transaksi</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
            <!-- Content -->

        </div>
        <div class="analytics-sparkle-area">
            <div class="container-fluid">
                <!-- <div class="row"> -->
                <%- body %>
                <!-- </div> -->
            </div>
        </div>
        <!-- End Content -->
        <!-- Footer -->
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2018. All rights reserved. Template by <a
                                    href="https://colorlib.com/wp/templates/">Colorlib</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer -->
    </div>

    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.meanmenu.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/metisMenu-active.js"></script>
    <script src="/js/main.js"></script>
    <script src="/app/customer.js"></script>
    <script src="/app/role.js"></script>
    <script src="/app/product.js"></script>
    <script src="/app/store.js"></script>
    <script src="/app/transaction.js"></script>
    <script src="/app/confirmation.js"></script>
    <script src="/app/chart.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js" type="text/Javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/Javascript"></script>

</body>

</html>