<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="sparkline12-list">
        <div class="sparkline12-hd">
            <div class="main-sparkline12-hd">
                <h1>Detail Konfirmasi Pembayaran Customer</h1>
            </div>
        </div>
        <div class="sparkline12-graph">
            <div class="basic-login-form-ad">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="all-form-element-inner">
                            <form>
                                <div class="form-group-inner">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Transfer dari</label>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <label class="login2">:</label>
                                            <label class="login2">
                                                <%= _pay[0].transfer_from%></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Transfer ke</label>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <label class="login2">:</label>
                                            <label class="login2">
                                                <%= _pay[0].transfer_to%></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Total</label>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <label class="login2">:</label>
                                            <label class="login2">
                                                <%= _pay[0].total%></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class="login2 pull-right pull-right-pro">Nomor Transaksi</label>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <label class="login2">:</label>
                                            <label class="login2">
                                                <%= _pay[0].id_transaction.no_order%></label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>