<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="sparkline13-list">
    <div class="sparkline13-hd">
      <div class="main-sparkline13-hd">
        <h1>Daftar<span class="table-project-n"> Customer</span></h1>
      </div>
    </div>
    <div class="sparkline13-hd">
        <table id="table" class="table table-bordered table-striped" width="100%">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Phone</th> 
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>

          </tbody>
      </table>
      </div>
    </div>
  </div>
</div>